body {
    font: 12px/16px Arial;
}

ul, li {
    padding: 0;
    margin: 0;
}

.tabs-header {
    margin-bottom: 20px;
}

.tabs-header li {
    display: inline-block;
    background-color: #333;
}
.tabs-header li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.tabs-content {
    width:640px;
    height:100px;
    overflow:hidden;
}
.tabs-content ul {
    list-style: none;
    height: 120px;
    overflow: scroll;
    overflow-y: hidden;
}
.tabs-content ul li {
    width:638px;
    height:98px;
    border: 1px dashed red;
}
.tabs-content ul li div {
    padding: 20px;
}
